<ion-accordion>
  <ion-item color="eublue" slot="header">
    <ion-icon class="ion-margin-end" src="assets/svg/blueShield.svg"></ion-icon>
    <ion-label>Nation Name</ion-label>
  </ion-item>
  <ion-list slot="content">
    <ion-chip class="quantity-chip">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>8</ion-label>
      <ion-icon src="assets/svg/BP.svg"></ion-icon>
      <ion-label>left</ion-label>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-chip>
    <ion-chip class="quantity-chip">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>15</ion-label>
      <ion-icon src="assets/svg/BP.svg"></ion-icon>
      <ion-label>spent</ion-label>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-label>Available</ion-label>
      <ion-icon src="assets/svg/manpower.svg"></ion-icon>
      <ion-icon src="assets/svg/true.svg"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-label>Focus</ion-label>
      <ion-icon src="assets/svg/coin.svg"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-label>Enemy Inside</ion-label>
      <ion-icon src="assets/svg/false.svg"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-label>Occupied</ion-label>
      <ion-icon src="assets/svg/true.svg"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-label>War</ion-label>
      <ion-icon src="assets/svg/true.svg"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-label>Sieging</ion-label>
      <ion-icon src="assets/svg/false.svg"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-label>Event</ion-label>
      <ion-icon src="assets/svg/true.svg"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-label>Passed</ion-label>
      <ion-icon src="assets/svg/false.svg"></ion-icon>
    </ion-chip>
    <ion-chip class="quantity-chip">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>2</ion-label>
      <ion-icon src="assets/svg/AP.svg"></ion-icon>
      <ion-label>Ideas</ion-label>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-chip>
    <ion-chip class="quantity-chip">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>0</ion-label>
      <ion-icon src="assets/svg/DP.svg"></ion-icon>
      <ion-label>Ideas</ion-label>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-chip>
    <ion-chip class="quantity-chip">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>1</ion-label>
      <ion-icon src="assets/svg/MP.svg"></ion-icon>
      <ion-label>Ideas</ion-label>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-label>QFTNW</ion-label>
      <ion-icon src="assets/svg/true.svg"></ion-icon>
    </ion-chip>
    <ion-chip class="quantity-chip">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>0 Colonists</ion-label>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-chip>
    <ion-chip class="quantity-chip">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>0 Col. Claims</ion-label>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-chip>
  </ion-list>
</ion-accordion>