<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>Nation Name</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-chip class="quantity-chip">
            <ion-icon name="remove-circle-outline"></ion-icon>
            <ion-icon src="assets/svg/BP.svg"></ion-icon>
            <ion-label>left</ion-label>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip class="quantity-chip">
            <ion-icon name="remove-circle-outline"></ion-icon>
            <ion-icon src="assets/svg/BP.svg"></ion-icon>
            <ion-label>spent</ion-label>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-chip>
            <ion-label>Available</ion-label>
            <ion-icon src="assets/svg/Infantry.svg"></ion-icon>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip>
            <ion-label>Focus</ion-label>
            <ion-icon src="assets/svg/MP.svg"></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>No Enemy Inside</ion-col>
        <ion-col>No Provinces Occupied</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>At Peace</ion-col>
        <ion-col>Cannot Siege</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Event Picked</ion-col>
        <ion-col>Bot Passed</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Quest for the New World</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Colonists</ion-col>
        <ion-col>Colonial Claims</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>